body {
   max-width: 1440px;
   margin: 0 auto;
}

img {
   max-width: 712px;
   height: 700px;

}
.imgdiv{
   position: relative;
}
.destinationdetails {
   padding: 70px;
   margin-bottom: 100px;
   display: flex;
   gap: 20px;
   max-width: 1424px;
   background-color: rgb(246, 223, 223);
   margin: 0 auto;
}

textdiv {
   padding-left: 50px;
}

h1 {
   font-size: 20px;
   margin-top: 100px;
   text-align: center;
}

h2 {
   font-size: 32px;

}

.fa-heart{
   position: absolute;
   top: 45px;
   z-index: 1;
   left: 650px;
   color: aliceblue;
   font-size: 25px;  
}


.fa-solid{
   position: absolute;
   top: 45px;
     z-index: 1;
     left: 650px;
   color: red;
   font-size: 25px;
}
 .fa-arrow-right{
   padding: 5px;
   background-color: rgb(112, 110, 110);
   color: rgb(245, 245, 245);
   position: absolute;
   top: calc(50% - 35px/2);
  left: 675px;
  font-size: 25px;
  border-radius: 50px;
}

.fa-arrow-left{
   padding:5px;
   background-color: rgb(112, 110, 110);
   color: rgb(246, 243, 244);
   position: absolute;
   left: 5px;
   top: calc(700px - 50% - 35px/2);
   font-size: 25px;
   border-radius: 50px;
}
