body {
    max-width: 1440px;
    margin: 0 auto;

}

img {
    width: 100%;
    display: block;
    max-width: 288px;
    height: 300px;
    cursor: pointer;
}

.destinationlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

figure div {
    margin-top: 0;
    max-width: 288px;
    height: 50px;
    background-color: rgb(248, 240, 247);

}

 .divfigure{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 a{
    text-decoration: none;
 }
 h1{
padding-left: 40px;
padding-bottom: 30px;
 }
 .fa-solid{
    color: red;
 }